.venv*/
venv*/
ENV*/
env*/

__pycache__/
wheels/
*.py[cod]
*.py[oc]
*$py.class
**/__pycache__/
**/*.pyc

dist/
build/
htmlcov/
.pytest_cache/
.coverage
*.egg-info/
.eggs/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

.pypirc

#
**/*.tmp

# Clouds
**/.stfolder/
**/.stversions/
**/.stignore
**/.syncthing.*.tmp
**/~syncthing~*.tmp
**/*sync-conflict*
**/*conflicted*
